@*<div class="nk-sidebar nk-sidebar-fixed is-light " data-content="sidebarMenu">
  <div class="nk-sidebar-element nk-sidebar-head">
    <div class="nk-sidebar-brand">
      <a href="html/index.html" class="logo-link nk-sidebar-logo">
        <img class="logo-light logo-img" src="~/assets/images/admin/logos/AIUSmallLogo.png" alt="logo">
        <img class="logo-dark logo-img" src="~/assets/images/admin/logos/AIUSmallLogo.png" alt="logo-dark">
        <img class="logo-small logo-img logo-img-small" src="~/assets/images/admin/logos/AIUSmallLogo.png"
          alt="logo-small">
      </a>
    </div>
    <div class="nk-menu-trigger mr-n2">
      <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em
          class="icon ni ni-arrow-left"></em></a>
      <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em
          class="icon ni ni-menu"></em></a>
    </div>
  </div><!-- .nk-sidebar-element -->
  <div class="nk-sidebar-element">
    <div class="nk-sidebar-content">
      <div class="nk-sidebar-menu" data-simplebar>
        <ul class="nk-menu">
          <li class="nk-menu-heading">
            <h6 class="overline-title text-primary-alt">Use-Case Preview</h6>
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item">
            <a href="html/ecommerce/index.html" class="nk-menu-link">
              <span class="nk-menu-icon"><em class="icon ni ni-bag"></em></span>
              <span class="nk-menu-text">E-Commerce Panel</span><span class="nk-menu-badge">HOT</span>
            </a>
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item">
            <a href="html/lms/index.html" class="nk-menu-link">
              <span class="nk-menu-icon"><em class="icon ni ni-book-read"></em></span>
              <span class="nk-menu-text">LMS Panel</span><span class="nk-menu-badge">HOT</span>
            </a>
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-heading">
            <h6 class="overline-title text-primary-alt">Dashboards</h6>
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item">
            <a href="html/index.html" class="nk-menu-link">
              <span class="nk-menu-icon"><em class="icon ni ni-cart-fill"></em></span>
              <span class="nk-menu-text">Default</span>
            </a>
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item">
            <a href="html/index-sales.html" class="nk-menu-link">
              <span class="nk-menu-icon"><em class="icon ni ni-activity-round-fill"></em></span>
              <span class="nk-menu-text">Sales</span>
            </a>
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item">
            <a href="html/index-analytics.html" class="nk-menu-link">
              <span class="nk-menu-icon"><em class="icon ni ni-growth-fill"></em></span>
              <span class="nk-menu-text">Analytics</span>
            </a>
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-heading">
            <h6 class="overline-title text-primary-alt">Applications</h6>
          </li><!-- .nk-menu-heading -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-tile-thumb-fill"></em></span>
              <span class="nk-menu-text">Projects</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/project-card.html" class="nk-menu-link"><span class="nk-menu-text">Project
                    Cards</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/project-list.html" class="nk-menu-link"><span class="nk-menu-text">Project List</span></a>
              </li>
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-users-fill"></em></span>
              <span class="nk-menu-text">User Manage</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/user-list-default.html" class="nk-menu-link"><span class="nk-menu-text">User List -
                    Default</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/user-list-regular.html" class="nk-menu-link"><span class="nk-menu-text">User List -
                    Regular</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/user-list-compact.html" class="nk-menu-link"><span class="nk-menu-text">User List -
                    Compact</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/user-details-regular.html" class="nk-menu-link"><span class="nk-menu-text">User Details -
                    Regular</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/user-profile-regular.html" class="nk-menu-link"><span class="nk-menu-text">User Profile -
                    Regular</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/user-card.html" class="nk-menu-link"><span class="nk-menu-text">User Contact -
                    Card</span></a>
              </li>
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-cc-alt2-fill"></em></span>
              <span class="nk-menu-text">Orders</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/orders-default.html" class="nk-menu-link"><span class="nk-menu-text">Order List -
                    Default</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/orders-regular.html" class="nk-menu-link"><span class="nk-menu-text">Order List -
                    Regular</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/orders-sales.html" class="nk-menu-link"><span class="nk-menu-text">Order List -
                    Sales</span></a>
              </li>
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-grid-alt-fill"></em></span>
              <span class="nk-menu-text">Applications</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/apps-messages.html" class="nk-menu-link"><span class="nk-menu-text">Messages</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/apps-inbox.html" class="nk-menu-link"><span class="nk-menu-text">Inbox / Mail</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/apps-file-manager.html" class="nk-menu-link"><span class="nk-menu-text">File
                    Manager</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/apps-chats.html" class="nk-menu-link"><span class="nk-menu-text">Chats /
                    Messenger</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/apps-calendar.html" class="nk-menu-link"><span class="nk-menu-text">Calendar</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/apps-kanban.html" class="nk-menu-link"><span class="nk-menu-text">Kanban Board</span></a>
              </li>
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
              <span class="nk-menu-text">Invoice</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/invoice-list.html" class="nk-menu-link"><span class="nk-menu-text">Invoice List</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/invoice-details.html" class="nk-menu-link"><span class="nk-menu-text">Invoice
                    Details</span></a>
              </li>
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-card-view"></em></span>
              <span class="nk-menu-text">Products</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/product-list.html" class="nk-menu-link"><span class="nk-menu-text">Product List</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/product-card.html" class="nk-menu-link"><span class="nk-menu-text">Product Card</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/product-details.html" class="nk-menu-link"><span class="nk-menu-text">Product
                    Details</span></a>
              </li>
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item">
            <a href="html/pricing-table.html" class="nk-menu-link">
              <span class="nk-menu-icon"><em class="icon ni ni-view-col"></em></span>
              <span class="nk-menu-text">Pricing Table</span>
            </a>
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item">
            <a href="html/gallery.html" class="nk-menu-link">
              <span class="nk-menu-icon"><em class="icon ni ni-img"></em></span>
              <span class="nk-menu-text">Image Gallery</span>
            </a>
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-heading">
            <h6 class="overline-title text-primary-alt">Misc Pages</h6>
          </li><!-- .nk-menu-heading -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-light-fill"></em></span>
              <span class="nk-menu-text">Auth Pages</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/pages/auths/auth-login.html" class="nk-menu-link" target="_blank"><span
                    class="nk-menu-text">Login / Signin</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/pages/auths/auth-register.html" class="nk-menu-link" target="_blank"><span
                    class="nk-menu-text">Register / Signup</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/pages/auths/auth-reset.html" class="nk-menu-link" target="_blank"><span
                    class="nk-menu-text">Forgot Password</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/pages/auths/auth-success.html" class="nk-menu-link" target="_blank"><span
                    class="nk-menu-text">Success / Confirm</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="#" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-text">Classic Version -
                    v2</span></a>
                <ul class="nk-menu-sub">
                  <li class="nk-menu-item">
                    <a href="html/pages/auths/auth-login-v2.html" class="nk-menu-link" target="_blank"><span
                        class="nk-menu-text">Login /
                        Signin</span></a>
                  </li>
                  <li class="nk-menu-item">
                    <a href="html/pages/auths/auth-register-v2.html" class="nk-menu-link" target="_blank"><span
                        class="nk-menu-text">Register / Signup</span></a>
                  </li>
                  <li class="nk-menu-item">
                    <a href="html/pages/auths/auth-reset-v2.html" class="nk-menu-link" target="_blank"><span
                        class="nk-menu-text">Forgot
                        Password</span></a>
                  </li>
                  <li class="nk-menu-item">
                    <a href="html/pages/auths/auth-success-v2.html" class="nk-menu-link" target="_blank"><span
                        class="nk-menu-text">Success /
                        Confirm</span></a>
                  </li>
                </ul>
              </li>
              <li class="nk-menu-item">
                <a href="#" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-text">No Slider Version -
                    v3</span></a>
                <ul class="nk-menu-sub">
                  <li class="nk-menu-item">
                    <a href="html/pages/auths/auth-login-v3.html" class="nk-menu-link" target="_blank"><span
                        class="nk-menu-text">Login /
                        Signin</span></a>
                  </li>
                  <li class="nk-menu-item">
                    <a href="html/pages/auths/auth-register-v3.html" class="nk-menu-link" target="_blank"><span
                        class="nk-menu-text">Register / Signup</span></a>
                  </li>
                  <li class="nk-menu-item">
                    <a href="html/pages/auths/auth-reset-v3.html" class="nk-menu-link" target="_blank"><span
                        class="nk-menu-text">Forgot
                        Password</span></a>
                  </li>
                  <li class="nk-menu-item">
                    <a href="html/pages/auths/auth-success-v3.html" class="nk-menu-link" target="_blank"><span
                        class="nk-menu-text">Success /
                        Confirm</span></a>
                  </li>
                </ul>
              </li>
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-files-fill"></em></span>
              <span class="nk-menu-text">Error Pages</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/pages/errors/404-classic.html" target="_blank" class="nk-menu-link"><span
                    class="nk-menu-text">404 Classic</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/pages/errors/504-classic.html" target="_blank" class="nk-menu-link"><span
                    class="nk-menu-text">504 Classic</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/pages/errors/404-s1.html" target="_blank" class="nk-menu-link"><span
                    class="nk-menu-text">404 Modern</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/pages/errors/504-s1.html" target="_blank" class="nk-menu-link"><span
                    class="nk-menu-text">504 Modern</span></a>
              </li>
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-files-fill"></em></span>
              <span class="nk-menu-text">Other Pages</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/_blank.html" class="nk-menu-link"><span class="nk-menu-text">Blank / Startup</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/pages/faqs.html" class="nk-menu-link"><span class="nk-menu-text">Faqs / Help</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/pages/terms-policy.html" class="nk-menu-link"><span class="nk-menu-text">Terms /
                    Policy</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/pages/regular-v1.html" class="nk-menu-link"><span class="nk-menu-text">Regular Page -
                    v1</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/pages/regular-v2.html" class="nk-menu-link"><span class="nk-menu-text">Regular Page -
                    v2</span></a>
              </li>
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-heading">
            <h6 class="overline-title text-primary-alt">Components</h6>
          </li><!-- .nk-menu-heading -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-layers-fill"></em></span>
              <span class="nk-menu-text">Ui Elements</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/components/elements/alerts.html" class="nk-menu-link"><span
                    class="nk-menu-text">Alerts</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/accordions.html" class="nk-menu-link"><span
                    class="nk-menu-text">Accordions</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/avatar.html" class="nk-menu-link"><span
                    class="nk-menu-text">Avatar</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/badges.html" class="nk-menu-link"><span
                    class="nk-menu-text">Badges</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/buttons.html" class="nk-menu-link"><span
                    class="nk-menu-text">Buttons</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/buttons-group.html" class="nk-menu-link"><span
                    class="nk-menu-text">Button Group</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/breadcrumb.html" class="nk-menu-link"><span
                    class="nk-menu-text">Breadcrumb</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/cards.html" class="nk-menu-link"><span
                    class="nk-menu-text">Cards</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/carousel.html" class="nk-menu-link"><span
                    class="nk-menu-text">Carousel</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/list-dropdown.html" class="nk-menu-link"><span
                    class="nk-menu-text">List Dropdown</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/modals.html" class="nk-menu-link"><span
                    class="nk-menu-text">Modals</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/pagination.html" class="nk-menu-link"><span
                    class="nk-menu-text">Pagination</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/popover.html" class="nk-menu-link"><span
                    class="nk-menu-text">Popovers</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/progress.html" class="nk-menu-link"><span
                    class="nk-menu-text">Progress</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/spinner.html" class="nk-menu-link"><span
                    class="nk-menu-text">Spinner</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/tabs.html" class="nk-menu-link"><span
                    class="nk-menu-text">Tabs</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/toast.html" class="nk-menu-link"><span
                    class="nk-menu-text">Toasts</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/tooltip.html" class="nk-menu-link"><span
                    class="nk-menu-text">Tooltip</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/elements/typography.html" class="nk-menu-link"><span
                    class="nk-menu-text">Typography</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="#" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-text">Utilities</span></a>
                <ul class="nk-menu-sub">
                  <li class="nk-menu-item"><a href="html/components/elements/util-border.html"
                      class="nk-menu-link"><span class="nk-menu-text">Border</span></a></li>
                  <li class="nk-menu-item"><a href="html/components/elements/util-colors.html"
                      class="nk-menu-link"><span class="nk-menu-text">Colors</span></a></li>
                  <li class="nk-menu-item"><a href="html/components/elements/util-display.html"
                      class="nk-menu-link"><span class="nk-menu-text">Display</span></a></li>
                  <li class="nk-menu-item"><a href="html/components/elements/util-embeded.html"
                      class="nk-menu-link"><span class="nk-menu-text">Embeded</span></a></li>
                  <li class="nk-menu-item"><a href="html/components/elements/util-flex.html" class="nk-menu-link"><span
                        class="nk-menu-text">Flex</span></a>
                  </li>
                  <li class="nk-menu-item"><a href="html/components/elements/util-text.html" class="nk-menu-link"><span
                        class="nk-menu-text">Text</span></a>
                  </li>
                  <li class="nk-menu-item"><a href="html/components/elements/util-sizing.html"
                      class="nk-menu-link"><span class="nk-menu-text">Sizing</span></a></li>
                  <li class="nk-menu-item"><a href="html/components/elements/util-spacing.html"
                      class="nk-menu-link"><span class="nk-menu-text">Spacing</span></a></li>
                  <li class="nk-menu-item"><a href="html/components/elements/util-others.html"
                      class="nk-menu-link"><span class="nk-menu-text">Others</span></a></li>
                </ul><!-- .nk-menu-sub -->
              </li>
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-dot-box-fill"></em></span>
              <span class="nk-menu-text">Crafted Icons</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/components/misc/svg-icons.html" class="nk-menu-link">
                  <span class="nk-menu-text">SVG Icon - Exclusive</span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/misc/nioicon.html" class="nk-menu-link">
                  <span class="nk-menu-text">Nioicon - HandCrafted</span>
                </a>
              </li>
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item">
            <a href="html/components/misc/icons.html" class="nk-menu-link">
              <span class="nk-menu-icon"><em class="icon ni ni-menu-circled"></em></span>
              <span class="nk-menu-text">Icon Libraries</span>
            </a>
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-table-view-fill"></em></span>
              <span class="nk-menu-text">Tables</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/components/tables/table-basic.html" class="nk-menu-link"><span class="nk-menu-text">Basic
                    Tables</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/tables/table-special.html" class="nk-menu-link"><span
                    class="nk-menu-text">Special
                    Tables</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/tables/table-datatable.html" class="nk-menu-link"><span
                    class="nk-menu-text">DataTables</span></a>
              </li>
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-view-group-fill"></em></span>
              <span class="nk-menu-text">Forms</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/components/forms/form-elements.html" class="nk-menu-link"><span class="nk-menu-text">Form
                    Elements</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/forms/checkbox-radio.html" class="nk-menu-link"><span
                    class="nk-menu-text">Checkbox
                    Radio</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/forms/advanced-controls.html" class="nk-menu-link"><span
                    class="nk-menu-text">Advanced
                    Controls</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/forms/input-group.html" class="nk-menu-link"><span class="nk-menu-text">Input
                    Group</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/forms/form-upload.html" class="nk-menu-link"><span class="nk-menu-text">Form
                    Upload</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/forms/datetime-picker.html" class="nk-menu-link"><span
                    class="nk-menu-text">Date &amp; Time
                    Picker</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/forms/number-spinner.html" class="nk-menu-link"><span
                    class="nk-menu-text">Number
                    Spinner</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/forms/nouislider.html" class="nk-menu-link"><span
                    class="nk-menu-text">noUiSlider</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/forms/form-layouts.html" class="nk-menu-link"><span class="nk-menu-text">Form
                    Layouts</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/forms/form-validation.html" class="nk-menu-link"><span
                    class="nk-menu-text">Form
                    Validation</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/forms/form-wizard.html" class="nk-menu-link"><span class="nk-menu-text">Wizard
                    Basic</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="#" class="nk-menu-link nk-menu-toggle"><span class="nk-menu-text">Rich Editor</span></a>
                <ul class="nk-menu-sub">
                  <li class="nk-menu-item"><a href="html/components/forms/form-summernote.html"
                      class="nk-menu-link"><span class="nk-menu-text">Summernote</span></a></li>
                  <li class="nk-menu-item"><a href="html/components/forms/form-quill.html" class="nk-menu-link"><span
                        class="nk-menu-text">Quill</span></a>
                  </li>
                  <li class="nk-menu-item"><a href="html/components/forms/form-tinymce.html" class="nk-menu-link"><span
                        class="nk-menu-text">Tinymce</span></a></li>
                </ul><!-- .nk-menu-sub -->
              </li>
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-pie-fill"></em></span>
              <span class="nk-menu-text">Charts</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/components/charts/chartjs.html" class="nk-menu-link"><span class="nk-menu-text">Chart
                    JS</span></a>
              </li>
              <li class="nk-menu-item">
                <a href="html/components/charts/knob.html" class="nk-menu-link"><span class="nk-menu-text">Knob
                    JS</span></a>
              </li>
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-puzzle-fill"></em></span>
              <span class="nk-menu-text">Widgets</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/components/widgets/cards.html" class="nk-menu-link"><span class="nk-menu-text">Card
                    Widgets</span></a>
              </li><!-- .nk-menu-item -->
              <li class="nk-menu-item">
                <a href="html/components/widgets/charts.html" class="nk-menu-link"><span class="nk-menu-text">Chart
                    Widgets</span></a>
              </li><!-- .nk-menu-item -->
              <li class="nk-menu-item">
                <a href="html/components/widgets/ratings.html" class="nk-menu-link"><span class="nk-menu-text">Ratings
                    Widgets</span><span class="nk-menu-badge">New</span></a>
              </li><!-- .nk-menu-item -->
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item has-sub">
            <a href="#" class="nk-menu-link nk-menu-toggle">
              <span class="nk-menu-icon"><em class="icon ni ni-block-over"></em></span>
              <span class="nk-menu-text">Miscellaneous</span>
            </a>
            <ul class="nk-menu-sub">
              <li class="nk-menu-item">
                <a href="html/components/misc/slick-sliders.html" class="nk-menu-link"><span class="nk-menu-text">Slick
                    Slider</span></a>
              </li><!-- .nk-menu-item -->
              <li class="nk-menu-item">
                <a href="html/components/misc/toastr.html" class="nk-menu-link"><span
                    class="nk-menu-text">Toastr</span></a>
              </li><!-- .nk-menu-item -->
              <li class="nk-menu-item">
                <a href="html/components/misc/sweet-alert.html" class="nk-menu-link"><span class="nk-menu-text">Sweet
                    Alert</span></a>
              </li><!-- .nk-menu-item -->
              <li class="nk-menu-item">
                <a href="html/components/misc/js-tree.html" class="nk-menu-link"><span
                    class="nk-menu-text">jsTree</span></a>
              </li><!-- .nk-menu-item -->
              <li class="nk-menu-item">
                <a href="html/components/misc/dual-listbox.html" class="nk-menu-link"><span class="nk-menu-text">Dual
                    Listbox</span></a>
              </li><!-- .nk-menu-item -->
              <li class="nk-menu-item">
                <a href="html/components/misc/dragula.html" class="nk-menu-link"><span
                    class="nk-menu-text">Dragula</span><span class="nk-menu-badge">New</span></a>
              </li><!-- .nk-menu-item -->
              <li class="nk-menu-item">
                <a href="html/components/misc/map.html" class="nk-menu-link"><span class="nk-menu-text">Google
                    Map</span><span class="nk-menu-badge">New</span></a>
              </li><!-- .nk-menu-item -->
            </ul><!-- .nk-menu-sub -->
          </li><!-- .nk-menu-item -->
          <li class="nk-menu-item">
            <a href="html/email-templates.html" class="nk-menu-link">
              <span class="nk-menu-icon"><em class="icon ni ni-tag-alt-fill"></em></span>
              <span class="nk-menu-text">Email Template</span>
            </a>
          </li>
        </ul><!-- .nk-menu -->
      </div><!-- .nk-sidebar-menu -->
    </div><!-- .nk-sidebar-content -->
  </div><!-- .nk-sidebar-element -->
</div>*@

<!-- Sidebar  -->
<div class="iq-sidebar">
    <div class="iq-navbar-logo d-flex justify-content-between">
        <a href="index-2.html" class="header-logo">
            <img src="admin/images/logo.png" class="img-fluid rounded" alt="">
            <span>AIS</span>
        </a>
        <div class="iq-menu-bt align-self-center">
            <div class="wrapper-menu">
                <div class="main-circle"><i class="ri-menu-line"></i></div>
                <div class="hover-circle"><i class="ri-close-fill"></i></div>
            </div>
        </div>
    </div>
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
                <li>
                    <a href="#dashboard" class="iq-waves-effect"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span>Main Dashboard</span></a>
                    <ul id="dashboard" class="collapse show" data-parent="#iq-sidebar-toggle">
                    </ul>
                </li>
                <li aria-expanded="true">
                    <a href="#menu-design" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><i class="ri-menu-3-line iq-arrow-left"></i><span>Vouchers</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="menu-design" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a href="horizontal-menu.html"><i class="ri-git-commit-line"></i>Bank Payment Voucher</a></li>
                        <li><a href="horizontal-menu.html"><i class="ri-git-commit-line"></i>Cash Payment Voucher</a></li>
                        <li><a href="horizontal-top-menu.html"><i class="ri-text-spacing"></i>Bank Recpt Voucher</a></li>
                        <li><a href="horizontal-top-menu.html"><i class="ri-text-spacing"></i>Cash Recpt Voucher</a></li>
                        <li><a href="two-sidebar.html"><i class="ri-indent-decrease"></i>Journal Voucher</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-user-tie iq-arrow-left"></i><span>Voucher Authrization</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a href="horizontal-menu.html"><i class="ri-git-commit-line"></i>Bank Payment Voucher</a></li>
                        <li><a href="horizontal-menu.html"><i class="ri-git-commit-line"></i>Cash Payment Voucher</a></li>
                        <li><a href="horizontal-top-menu.html"><i class="ri-text-spacing"></i>Bank Recpt Voucher</a></li>
                        <li><a href="horizontal-top-menu.html"><i class="ri-text-spacing"></i>Cash Recpt Voucher</a></li>
                        <li><a href="two-sidebar.html"><i class="ri-indent-decrease"></i>Journal Voucher</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#mailbox" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="las la-mail-bulk iq-arrow-left"></i><span>Chart Of Accounts</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="mailbox" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a href="app/index.html"><i class="las la-inbox"></i>Balance</a></li>
                        <li><a href="app/email-compose.html"><i class="ri-mail-send-line"></i>Classification</a></li>
                        <li><a href="app/email-compose.html"><i class="ri-mail-send-line"></i>Account Head</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#forms" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="lab la-wpforms iq-arrow-left"></i><span>Reports</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="forms" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a href="form-layout.html"><i class="las la-book"></i>General Ledger</a></li>
                        <li><a href="form-validation.html"><i class="las la-edit"></i>Trial Balance</a></li>
                        <li><a href="form-switch.html"><i class="las la-toggle-off"></i>Profit & Loss</a></li>
                        <li><a href="form-chechbox.html"><i class="las la-check-square"></i>Balance Sheet</a></li>
                        <li><a href="form-radio.html"><i class="ri-radio-button-line"></i>Cash Flow</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#wizard-form" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-archive-drawer-line iq-arrow-left"></i><span>Settings</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="wizard-form" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a href="form-wizard.html"><i class="ri-clockwise-line"></i>Simple Wizard</a></li>
                        <li><a href="form-wizard-validate.html"><i class="ri-clockwise-2-line"></i>Validate Wizard</a></li>
                        <li><a href="form-wizard-vertical.html"><i class="ri-anticlockwise-line"></i>Vertical Wizard</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="p-3"></div>
    </div>
</div>