/*------------- Variable ------------*/

:root {
    --iq-title-text: #3f414d;
    --iq-body-text: #494848;
    --iq-body-bg: #fbfbfb;
    --iq-primary: #1e3d73;
    --iq-secondary: #a09e9e;
    --iq-success: #65f9b3;
    --iq-warning: #ffbf43;
    --iq-danger: #fe517e;
    --iq-info: #9267ff;
    --iq-dark: #3f414d;
    --iq-light: #fafafb;
    --iq-white: #ffffff;
    --iq-black: #000000;
    --iq-light-primary: #e7ecee;
    --iq-light-secondary: #f1f2f1;
    --iq-light-success: #ecfff6;
    --iq-light-danger: #ffeeee;
    --iq-light-warning: #fefaee;
    --iq-light-info: #f4f0ff;
    --iq-light-dark: #f0efef;
    --iq-primary-hover: #1d335a;
    --iq-secondary-hover: #3948e8;
    --iq-success-hover: #8defc0;
    --iq-danger-hover: #ff6a6a;
    --iq-warning-hover: #fae837;
    --iq-info-hover: #fff1e0;
    --iq-dark-hover: #3948e8;
    --iq-border-light: #dfdfdf;
    --iq-light-card: #ffffff;
    --iq-primary-rgb: 100, 114, 248;
    /* color for customizer*/
    --iq-color1: #1e3d73;
    --iq-color2: #02d871;
    --iq-color3: #309cf3;
    --iq-color4: #ff00ff;
    --iq-color5: #fb1f4c;
    --iq-color6: #00ced1;
    --iq-color7: #f35f3b;
    --iq-color8: #fde117;
    --iq-color9: #ff0000;
    --iq-color10: #88028c;
    --iq-color11: #00d5ab;
    --iq-color12: #ce9252;
    --iq-color13: #f9ae02;
    --iq-color14: #1e7fe4;
    --iq-color15: #006400;
    --iq-color16: #fa7c04;
    --iq-color17: #81bf02;
    --iq-color18: #99a7ca;
    --iq-color19: #3d2a26;
    --iq-color20: #a0746b;
}
